.cart-panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 400;
}

.opac-layer{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cart-content{
    width: 300px;
    height: 100%;
    background: white;
    position: relative;
    z-index: 1;
    flex-direction: column;
    transform: translateX(100%);
    animation: slideCart 0.3s ease forwards;

}

.cart-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.heading{
    flex-grow: 1;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.close-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

}

.close{
    
    font-size: 14px;
}

.close:hover{
    opacity: 0.5;
}

.close-btn:hover{
    opacity: 0.5;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: centre;
    gap: 20px;
    margin-top: 100px;
    margin-left: 70px;
}

.empty-cart-icon{
    
    font-size: 120px;
    opacity: 0.1;
}

.return-btn{
    outline: 0;
    border: 0;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    color: white;
    background-color: black;
    border-bottom: 3px solid black;
}

.cart-footer{
    border-top: 1px solid rgba(0,0,0,0.1);

}

.subtotal{
    padding: 20px 15px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

.total-text{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.checkout{
    padding: 20px 15px;
}

.checkout-btn{
    outline: 0;
    border: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: black;
    border-bottom: 3px solid black;

}

@keyframes slideCart{
    0% {
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}