.middle {
  position: relative;
  max-width: 150%; /* Ensure images don't exceed container width */
  display: inline-block;
  padding-top: 200px;
  padding-left: 120px;
   
  }
  
  .middle img {
    max-width: 100%; /* Prevent images from exceeding their container width */
    height: auto;
    
    
  }

  .image-text {
    position: absolute;
    top: 600px; /* Position at the top of the parent container */
    left: 58%; /* Center the text horizontally within the container */
    transform: translateX(-50%); /* Adjust for horizontal centering */
    background-color: transparent; /* Semi-transparent background */
    color: #FFF;
    padding: 10px;
    width: 1175px;
    height: 148px;
    font-family: Inter;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
}

