.navbar{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding-top: 10px;
    position: relative;
    width: 100%;
    height: 5px;
    z-index: 99;
    margin-bottom: 100px;
     
}
.activelink{
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;

}

.list{
    display: flex;
    list-style-type: none;
    margin-left: 90px;
    margin-top: 3px;
}

.list li {
    padding: 0 1rem;
    margin-top: 30px;
    
}
.list2{
    display: flex;
    list-style-type: none;
    margin-left: 7px;
    margin-right: 20px;
    justify-content: space-between;
  
  
}

.list2 li{
  padding-left: 30px;
}
.astro {
    display: flex;
    align-items: centre;
    padding:0 ;
    margin-right: 10px;
    padding-left: 40px;
    position:absolute;
    width: 80px;
    height: 80px;
    background:transparent ;
    margin-top: 10px;
}

.tagus {
    margin-top: 20rem;
    color: white;
  }
  
  .emailsignup {
    margin-top: 25rem;
    display: flex;
    margin-left: 30rem;
    color: rgb(242, 237, 237);
  }
  
  .emailsignup input {
    margin-left: 20px;
  }
  
  .emailsignup button {
    background-color: black;
    color: white;
  }

  .cart-count {
    position: absolute;
    margin-top: 3px;
    margin-left: 1px;
    color: rgb(247, 40, 40);
    border-radius: 50%;
    font-size: 12px;
  }

  .hamburger{
    display: none;
  }

  @media screen and (max-width: 780px){

   

    .list{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 700px;
      position: fixed;
      top: 0;
      left: -200%;
      padding-right: 100px;
      margin-left: 1px;
      transition: 0.3s;
      margin-top: 1px;
      z-index: 99;
    }

    .list.active{
      left: 0;
      background: rgba(0, 0, 0, 0.5);

      
    }

    .list li{
      padding-top: 10px;

    }

    .list li a{
      font-size: 30px;
      z-index: 1;
    }

    .hamburger{
      position: absolute;
      display: flex;
      margin-left: 10px;
      margin-top: 15px;
      z-index: 9999;
    }

    .astro {
      position: absolute;
      z-index: 1;
      /*margin-left: 160px;*/
      left: 50%;
      transform: translateX(-50px);
      margin-top: 0px;
      padding-left: 0;
      /*width: 100%;*/
      height: 50px;
      padding-top: 1px;
      z-index: 1
      
    }


    .list2{
      /*margin-left: 300px;*/
      margin-top: 1px;
      width: 100%;
      justify-content: end;
    }
  }


  
