.product-container {
    display: flex;
    /* overflow-x: auto; Enable horizontal scrolling */
    padding: 10px; /* Optional padding for the container */
    gap: 100px; /* Adjust the gap between products as needed */
    background-color: transparent;
    margin-left: 100px;
  }
  
  .product {
    color: white;
    width: 250px;
    height: 300px; /* Adjust the height of each product card as needed */
     /* Background color for product cards */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    margin-top: 100px;
  }

  .product button{
    width: 100px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 3px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.9px;
    background-color: black;
    margin-top: 15px;
  }

 

  .thumbnail{
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    z-index: 99;

  }

  .thumbnail img{
    transition: all ease 0.3s;
    display: block;
    width: 100%;
    height: 250px;
    z-index: 100;
   
  }

  .prod-details{
    .name{
        font-size: 14px;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @media (max-width: 768px){
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
  }

  .thumbnail:hover img {
    transform: scale(1.2);
  }

  @media screen and (max-width: 1040px){
    .product-container{
      display: grid;
      margin-left: 100px;
    }
  }

